<h1><%= @project.name %></h1>

<p class="lead"><%= @project.summary %></p>
<p><%= markdown @project.description %></p>

<div>
  <%= render partial: "projects/status/#{@project_presenter.status}" %>
</div>

<h2>What exactly will my program need to do?</h2>
<div class="accordion" id="accordion1">
  <%= render @project.goals %>
</div>

<div class="row-fluid">
  <ul id="working-users" class="span6">
    <%= render @user_projects %>
  </ul>
</div>