<h1><%= @project.name %></h1>

<p class="lead"><%= @project.summary %></p>
<p><%= markdown @project.description %></p>

<div>
  <%= get_started_message(@project) %>
</div>

<h2>What exactly will my program need to do?</h2>
<div class="accordion" id="accordion1">
  <%= render @project.goals %>
</div>

<ul id="working-users">
  <%= render @user_projects %>
</ul>