<h1><%= @project.name %></h1>

<p class="lead"><%= @project.summary %></p>
<p><%= markdown @project.description %></p>

<h2>What exactly will my program need to do?</h2>
<div class="accordion" id="accordion1">
  <% @project.goals.each do |goal| %>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#collapse-<%= goal.id%>">
                <%= goal.title %>
            </a>
        </div>
        <div id="collapse-<%= goal.id%>" class="accordion-body collapse">
            <div class="accordion-inner tabbable">
                <ul class="nav nav-tabs">
                  <li class="active">
                    <%= link_to "Description", "#goal-#{goal.id}-description", "data-toggle" => "tab" %>
                  </li>
                  <li>
                    <%= link_to "Tips", "#goal-#{goal.id}-tips", "data-toggle" => "tab" %>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="goal-<%= goal.id%>-description">
                    <p><%= markdown goal.description %></p>
                  </div>
                  <div class="tab-pane" id="goal-<%= goal.id%>-tips">
                    <ul>
                      <% goal.tips.each do |tip| %>
                        <li><%= markdown tip.text %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
  <% end %>
</div>