<div class="accordion-group" id="goal-<%= goal.id%>">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapse-<%= goal.id%>">
            <%= goal.title %>
        </a>
        <%#render partial: :goal_completion %>
        <% if @project_presenter.can_complete_goals?  %>
          <% if !@project_presenter.current_user_project.goals.include?(goal) %>
          <%= button_to("I have done this goal", goal_completions_path(goal_id: goal.id, user_project_id: @project_presenter.current_user_project.id), class: "btn") %>
          <% else %>
            ✅
          <% end %>
        <% end %>
    </div>
    <div id="collapse-<%= goal.id%>" class="accordion-body collapse">
        <div class="accordion-inner tabbable">
            <ul class="nav nav-tabs">
              <li class="active">
                <%= link_to "Description", "#goal-#{goal.id}-description", "data-toggle" => "tab" %>
              </li>
              <li>
                <%= link_to "Tips", "#goal-#{goal.id}-tips", "data-toggle" => "tab" %>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="goal-<%= goal.id%>-description">
                <%= markdown goal.description %>
              </div>
              <div class="tab-pane" id="goal-<%= goal.id%>-tips">
                <%= markdown goal.tips %>
              </div>
            </div>
        </div>
    </div>
</div>